<div class="top-bar-kanan">
       <div class="account">
              <img src="assets/img/user-img/rafli2.jpg" alt="">
              <span>Muhammad Rafli Akbar &nbsp<i class="fas fa-caret-down"></i></span>
       </div>
</div>
<div class="content-kanan">
       <div class="live">
              <h3>Siaran Langsung</h3>
              <span class="live"><i class="fas fa-video"></i> LIVE</span>
              <span class="penonton"><i class="fas fa-eye"></i>308k</span>
              <img class="live" src="assets/img/user-img/farhanah.jpg" alt="">
       </div>

       <div class="trending">
              <h3>Trending</h3>
              <span class="hastag">#RachelVenya</span>
              <span class="hastag">#DeddyCorbuzier</span>
              <span class="hastag">#PTIKUNJ2020</span>
              <span class="hastag">#PakFerdi</span>
              <span class="hastag">#DesainWeb</span>
              <span class="hastag">#BODILILI</span>
              <span class="hastag">#UTSDesainWeb</span>
       </div>

       <div class="suggestions">
              <h3>Disarankan untuk Anda !</h3>
              <div class="list-friends">
                     <img src="assets/img/user-img/arief.jpg" alt="">
                     <span><a href="arief-muhammad.html">Arief
                                   Muh</a></span>
                     <button> + </button>
              </div>
              <div class="list-friends">
                     <img src="assets/img/user-img/ferdi.jpeg" alt="">
                     <span><a href="ferdi-fauzan.html">Ferdi
                                   Fau</a></span>
                     <button> + </button>
              </div>
       </div>
</div>