<div class="top-bar-kiri">
       <table style="width: 100%;">
              <tr>
                     <td><img src="assets/img/icon.png" alt=""></td>
                     <td><input type="text" placeholder="Cari di RainDrops"></td>
              </tr>
       </table>
</div>

<div class="groups">
       <h4>GRUP</h4>
       <div class="list-groups">
              <img src="assets/img/unj.png" alt="">
              <span><a href="grup-unj.html">Universitas Negeri Jakarta</a></span>
       </div>
       <div class="list-groups">
              <img src="assets/img/harmoni.png" alt="">
              <span><a href="grup-harmoni.html">Kabinet Harmoni</a></span>
       </div>
       <div class="list-groups">
              <img src="assets/img/user-img/ptik2020.png" alt="">
              <span><a href="grup-ptik2020.html">PTIK UNJ 2020</a></span>
       </div>
</div>


<div class="friends">
       <h4>TEMAN</h4>
       <div class="list-friends">
              <img src="assets/img/user-img/adip.jpg" alt="">
              <span><a href="chats.html">Adip Idi Surya</a></span>
       </div>
       <div class="list-friends">
              <img src="assets/img/user-img/fadhly.jpeg" alt="">
              <span><a href="ahmad-fadhly-al-ghifari.html">Ahmad Fadhly
                            Al-Ghifari</a></span>
       </div>
       <div class="list-friends">
              <img src="assets/img/user-img/nabol.jpg" alt="">
              <span><a href="nabila-lailinajma.html">Nabila Lailinajma</a></span>
       </div>
       <div class="list-friends">
              <img src="assets/img/user-img/bang-oman.jpeg" alt="">
              <span><a href="aminu-rohman.html">Aminu Rohman</a></span>
       </div>
       <div class="list-friends">
              <img src="assets/img/user-img/adinda.jpg" alt="">
              <span><a href="adinda-octaviani.html">Adinda Octaviani</a></span>
       </div>
       <div class="list-friends">
              <img src="assets/img/user-img/farhanah.jpg" alt="">
              <span><a href="farhanah-aqifah-siregar.html">Farhanah Aqifah
                            Siregar</a></span>
       </div>
</div>