<table>
       <tr>
              <td>
                     <div class="user-stories">
                            <img src="assets/img/user-img/rafli2.jpg" alt="">
                     </div>
              </td>
              <td>
                     <div class="user-stories">
                            <img src="assets/img/user-img/adip.jpg" alt="">
                     </div>
              </td>
              <td>
                     <div class="user-stories">
                            <img src="assets/img/user-img/nabol.jpg" alt="">
                     </div>
              </td>
              <td>
                     <div class="user-stories">
                            <img src="assets/img/user-img/fadhly.jpeg" alt="">
                     </div>
              </td>
              <td>
                     <div class="user-stories">
                            <img src="assets/img/user-img/bang-oman.jpeg" alt="">
                     </div>
              </td>
              <td>

                     <div class="user-stories">
                            <img src="assets/img/user-img/adinda.jpg" alt="">
                     </div>
              </td>
              <td>
                     <div class="user-stories">
                            <img src="assets/img/user-img/farhanah.jpg" alt="">
                     </div>
              </td>
              <td>
                     <div class="user-stories">
                            <img src="assets/img/user-img/abe.jpg" alt="">
                     </div>
              </td>
              <td>
                     <div class="user-stories">
                            <img src="assets/img/user-img/dani.jpg" alt="">
                     </div>
              </td>
       </tr>
       <tr style="text-align: center;">
              <td>mrafl...</td>
              <td>adipi...</td>
              <td>nabol...</td>
              <td>ahmad...</td>
              <td>aminu...</td>
              <td>adind...</td>
              <td>farha...</td>
              <td>abdul...</td>
              <td>zakid...</td>
       </tr>
</table>