body {
    padding: 0;
    margin: 0;
    background-image: url("../img/Indonesia-sunset.png");
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.box {
    position: absolute;
    width: 400px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.header {
    background-image: url("../img/raindrop.png");
    background-size: cover;
    padding: 60px 30px;
    color: rgba(211, 84, 0, 1);
    border-radius: 15px 15px 0 0;
}

.header p {
    font-size: small;
}

.area-masuk {
    text-align: center;
    padding: 50px 50px 30px 50px;
}

.username,
.password {
    width: 100%;
    text-align: center;
    padding: 12px 0;
    border-radius: 15px;
    outline: none;
    border: none;
    color: white;
    background-color: rgba(249, 191, 59, 1);
    margin-bottom: 15px;
    transition: 0.5s;
}

.username::placeholder,
.password::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.username:focus,
.password:focus {
    background-color: rgba(230, 126, 34, 1);
}

.submit {
    width: 150px;
    padding: 10px;
    background-color: rgba(230, 126, 34, 1);
    border-radius: 10px;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    margin: 10px;
    margin-left: 60px;
    transition: 0.2s;
    cursor: pointer;
}

.submit:hover {
    background-color : rgba(211, 84, 0, 1) ;
}

a {
    display: block;
    font-size: small;
    text-decoration: none;
    color: rgba(230, 126, 34, 1);
    margin-top: 10px;
}